
<nav>
    <ul>
        <li><a href="{{path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{path('main_test')}}" title="">Test</a></li>
        <li><a href="{{path('series_liste')}}" title="">Serie</a></li>
        <li><a href="{{path('series_create')}}" title="">Creation Série</a></li>
        <li><a href="{{path('season_create')}}" title="">Creation de saison</a></li>
    </ul>
</nav>
