{% extends 'base.html.twig' %}

{% block title %}
    {{ serie.name }} | {{ parent() }}
{% endblock %}


{% block body %}


    todo: titre de la série + les autres attributs
    <h2>{{ serie.name }}</h2>
    <div>{{ serie.overview }}</div>
    <div> {{ serie.vote }}</div>
    <div> {{ serie.genre }}</div>
    <div> {{ serie.popularity }}</div>
    <div> {{ serie.firstAirDate | date ('d/m/Y') }}</div>

    <section class="seasons">
        <h3>Seasons</h3>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/'~season.poster) }}"
                alt="{{ serie.name }} season#{{season.number }}">
                <div>
                    <h4>{{ season.number }}</h4>
                    <div>Overview : {{ season.overview }}</div>
                    <div> {{ season.firstAirDate | date('d/m/y') }}</div>

                </div>
            </article>
        {% endfor %}
    </section>


    <div>
        <form action="{{ path('series_delete', {'id': serie.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~serie.id) }}">
            <button>Delete</button>
        </form>
    </div>




{% endblock %}