{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

{% block body %}
    <h3> titre de la serie </h3>

    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('series_details',{'id' : serie.id()}) }}" title="{{ serie.seasons | length }} season{{ serie.seasons | length > 1 ? 's' : '' }}">
                    <img src="{{ asset('img/posters/series/'~serie.poster) }}" alt="{{ serie.name }}">
                </a>

            </article>
        {% endfor %}
    </section>


{% endblock %}

